.jumbotron{
  font-weight: 900;  
}
.btn{
    margin-top: 15px;
}

#header{
    background-image: url(https://static1.squarespace.com/static/5459ec52e4b04d305f68f1ed/t/548a9644e4b0a171f6b28d53/1418368582035/Pattern15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(8, 151, 187, 0.4),
                 0px 8px 13px rgba(8, 151, 187, 0.493),
                 0px 18px 23px rgba(8, 151, 187, 0.671);
}
nav{
    background-color: rgb(9, 35, 39)
}